{% extends 'portfolio/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">Entrar</h2>
                <p>Ou prefere entrar sem palavra-passe?</p>
    <a href="{% url 'accounts:magic_request' %}" class="btn btn-outline-info w-100">
        ✨ Entrar com Link Mágico
    </a>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <hr>
                <p class="text-center">Ainda não tens conta? <a href="{% url 'accounts:registo' %}">Regista-te aqui</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}