{% extends 'portfolio/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">Criar Nova Conta</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Registar</button>
                </form>
                <hr>
                <p class="text-center">Já tens conta? <a href="{% url 'accounts:login' %}">Entrar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}